.pattern {
/*background-image: url("https://placehold.co/1280x720");*/
background-image: url("assets/images/background-image.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
opacity: 5;
}

.custom-font-1 {
font-family: "Raleway", sans-serif;
}

.custom-font-2 {
font-family: "Urbanist", sans-serif;
}

#backToTopBtn {
display: none;
position: fixed;
bottom: 20px;
right: 20px;
width: 40px;
height: 40px;
border: none;
border-radius: 50%;
background-color: #000;
color: #fff;
font-size: 0; /* Hide any text inside the button */
cursor: pointer;
opacity: 0.6;
transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
opacity: 1;
}
