
.custom-font-1 {
font-family: "Raleway", sans-serif;
}

.custom-font-2 {
font-family: "Urbanist", sans-serif;
}

#backToTopBtn {
display: none;
position: fixed;
bottom: 20px;
right: 20px;
width: 40px;
height: 40px;
border: none;
border-radius: 50%;
background-color: #000;
color: #fff;
font-size: 0; /* Hide any text inside the button */
cursor: pointer;
opacity: 0.6;
transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
opacity: 1;
}

.active-tab {
    background-color: #4CAF50 !important;
    color: white !important;
}